<nav>
    <div class="nav-container">
    <a href="/" class="logo">News Scrapper V1</a>
    <ul class="nav-bar">
        <li><a href="/api/scrape">Get News</a> </li>
        <li><a href="/about">About</a> </li>
    </ul>
    </div>
</nav>